.rijndael-grid{
    display: grid;
    width:auto;


    &--small{

    }

    &__big{

    }


}

.page-14-cell{
    width: 2.2rem;
    height: 1.6rem;
  
    

    @media screen and (max-width: 800px) {
        width: 1.4rem;
        height: 1.2rem;
        font-size: .7rem;
    }
}

.page-5-runner-cell{
    width: .5rem;
    height: .5rem;
    background: #FFF997;
    border: 1px solid #666;


   
}

.page-14-rcon-cell{
    width: 1rem; 
    height: .8rem;
    font-size: .7rem;

    @media screen and (max-width: 800px) {
        width: .9rem;
        height: .7rem;
        font-size: .6rem;
    }


}


.rijndael-movable-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #333;
    color: #333;


    &--alpha{
        background: var(--grid-background-alpha);
    }

    &--beta{
        background: var(--grid-background-beta)
    }

    &--gamma{
        background: var(--grid-background-gamma);
    }

    &--delta{
        background: var(--grid-background-delta);
    }

    &--eta{
        background: var(--grid-background-eta);
    }

    &--pink{
        background: #FFD0CC;
        border: 1px solid #333;
        color: #333;
    }

    
}

.rijndael-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 4rem;
    height: 3rem;

    @media screen and (max-width: 800px) {
        width: 2.4rem;
        height: 1.8rem;
    }

    &--big{
        width: 5rem;
        height: 3rem;

        @media screen and (max-width: 800px) {
            width: 2.4rem;
            height: 1.8rem;
        }
    
    }

    &--tiny{
        width: 1.6rem;
        height: 1.3rem;
        font-size: .5rem;


        @include respond("tab-port"){
            width: 1.4rem;
            height: 1.2rem;
        }

        @include respond("phone"){
            width: .9rem;
            height: 1rem;
        }

        
     
    }

   
}

