@use "../../styles/abstracts/" as *;

.rijndael-page-12-output{
    position: relative;

    grid-area: 7 / 2/ 7 / 2;
    display: flex;
    justify-content: center;
    align-items: center;

    &__grid{

    }

    &__text-output{
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-100%, -50%);
        font-weight: bold;

        @include respond("tab-port"){
           
            left: auto;
            right: -.5rem;
            transform-origin: center center;
            transform:translate(0%,0%) rotate(-90deg);
            font-size: .8rem;
        }
    }

    &__text-ciphertext{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 100%);
        font-weight: bold;

        @include respond("tab-port"){
            font-size: .8rem;
            transform-origin: center center;
            transform: translate(-50%, -50%);
        }
    }

}