@use "../../styles/abstracts/" as *;

#rijndael-page-7-sbox{
    width: 30rem;
    height: 20rem;


  
   
    @include respond("tab-port"){

    }

    @include respond("phone"){
        width: 98%;
        height: 14rem; 
        margin: 0 auto;
    }

 

    
    
}



#rijndael-page-7-cell-landing{
    width: 4rem;
    height: 3rem;
    margin: 2rem 0;

    @include respond("tab-port"){
        margin: 1rem 0;
    }
}

.rijndael-page-7-layout{
    height: 100%;
    display: flex;

 

    &__left{
        flex: 2;

        @include respond("phone"){
            flex: auto;
        }
    }

    &__right{
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include respond("tab-port"){
            flex: 5;
        }

        
    }

    @media (max-width: 800px){
        flex-direction: column;  
    }
}