@use "../../styles/abstracts/" as *;

.page-10-layout{
    display: flex;
    height: 100%;
    


    @include respond("tab-port"){
        flex-wrap: wrap;
    }
       
    &__left{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond("tab-port"){
            justify-content: flex-start;
        }
    }

    &__right{
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        @include respond("tab-port"){
            justify-content: flex-start;
        }
    }

    &__center{
        flex: 3;
       display: flex;
       flex-direction: column;
       align-items: center;    


       @include respond("tab-port"){
        flex: 100%;
        order: -1;
        justify-content: center;
       }
       
    
    }


    &__label{
        font-size: 1.6rem;
        color: #fff;

        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;

        
       @include respond("tab-port"){
        font-size: 1.2rem;
       }

       @include respond("phone"){
        margin-bottom: .3rem;
        margin-top: .3rem;
        }
    }

    &__text{
        color: #fff;


        

        @include respond("phone"){
            font-size: .8rem;
        }
    }
}

#rijndael-page-10-text{
    position: absolute;
    bottom: 0;
    transform: translate(0, 100%);
    width: 100%;
    display: flex;

    align-items: center;
    flex-direction: column;

    
}

#rijndael-page-10-grid-round-key{
    position: relative;
   
}

.rijndael-equation{
    display: flex;
    margin-top: 2rem;

    &__add{
        border-radius: 50%;
        width: 2.2rem;
        height: 2.2rem;
        border: 2px solid #333;
        display: flex;
        justify-content: center;
        align-items: center;

    
    }

    &__symbol-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__symbol{
        margin: 0 1rem;
        font-size: 2rem;
        font-weight: bold;
    }
}