

.rijndael-page-9-equation{

    display: flex;
    flex-direction: row;
  
    &__symbol{    
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;


    }
}

.rijndael-brackets{
    position: relative;
    
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        content: "";
  
        height: 100%;
        
      
        background: #333;
        width: .2rem;
       
        z-index: 20;
    }

    &:after{
        position: absolute;
        top: 0;
        right: 0;
        content: "";
  
        height: 100%;
        
      
        background: #333;
        width: .2rem;
       
        z-index: 20;
    }
    
}