

.rijndael-page-9-equation{

    display: flex;
    flex-direction: row;
    height: 10rem;
    &__symbol{    
        width: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;


    }
}