.rijndael-animation{
    background: #aaa;
   
    width: 100%;



    max-width: 1000px;
    min-height: 30rem;


    &--fullscreen{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
    }


    @media screen and (max-width: 800px) {
        min-height: 0px;
    }

    &__animation-container{
        display: flex;
        flex-direction: column;

        @media screen and (max-width: 800px){
            height: 100vh;

        }

      
    
    }

    &__animation-frame{
        overflow: hidden;
        width: 100%;
        min-height: 38rem;
        background: #000;
        position: relative;
        flex: 1;

        @media screen and (max-width: 800px) {
            min-height: 0px;
        }

        &:before{
            position: absolute;
            top: 50%;
            left: 50%;
            content: "loading...";
            color: #fff;
            font-size: 1.6rem;
            transform: translate(-50%, -50%);

        }
    }

    &__page{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        
    }

    &__controlls{
        min-height: 2rem;
        display: flex;
        padding: 1rem;
        border-top: 1px solid #fff;
        align-items: center;
        
    }

    &__options{
        grid-area: options;

        display: flex;
        padding: 0 .5rem;
        justify-content: flex-end;
       
    }

    &__play{
        grid-area: play;   
        border: 0;
       
        background: transparent;
        box-sizing: border-box;
        width: 0;
        height: 1rem;

        border-color: transparent transparent transparent #202020;
        transition: 100ms all ease;
        cursor: pointer;

        border-style: solid;
        border-width: .5rem 0 .5rem .8rem;


        outline: none;

        &--paused{
            border-style: double;
            border-width: 0px 0 0px .8rem;
        }
    }

    &__navigation{
        grid-area: menu;
        flex: 1;

        &--mobile{
            margin: 0rem 1rem;
            @media screen and (min-width: 800px) {
               display: none;
            }
        }

        &--desktop{
            display: flex;
            align-items: center;
     
            justify-content: center;

            @media screen and (max-width: 800px) {
                display: none;
             }
        }

        select{
            width: 100%;
            padding: .6rem;
            font-size: 1rem;
        }
    }

    &__navigation-item{
        margin: 0 .1rem;
        width: 1.6rem;
        height: 1.6rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        font-size: .9rem;
        color: #fff;
        background: #666;
        box-shadow: inset 0 0 0 rgba(0,0,0,.5), 0 .1rem .3rem rgba(0,0,0,.3);
        transition: all .3s;
        user-select: none;

        &--current{
            box-shadow: inset 0 .1rem .3rem rgba(0,0,0,.5);
        }

        &:hover{
            box-shadow: inset 0 .1rem .3rem rgba(0,0,0,.5);
        }

        &:active{
            filter: brightness(50%);
        }
    }

    &__info{
        min-height: 2rem;
        padding: 1rem;
        
        margin: 0 1rem;

        @media screen and (max-width: 800px) { 
            display: none;  
        }
    }

    &__info-container{
        background: #fff;
        padding: 1rem;
        min-height: 4rem;
        max-height: 12rem;
        overflow-y: auto;

        h3{
            font-size: 1.6rem;
            margin-bottom: .8rem;
        }

        @media screen and (max-width: 800px) { 
            display: none;  
        }
    }
}