.rijndael-grid{
    display: grid;
    width:auto;


    &--small{

    }

    &__big{

    }


}

.page-14-cell{
    width: 2.2rem;
    height: 1.6rem;
    border: 1px solid #333;
    
}

.page-14-rcon-cell{
    width: 1rem; 
    height: .8rem;
    font-size: .7rem;
}


.rijndael-movable-cell{
    display: flex;
    justify-content: center;
    align-items: center;

    &--yellow{
        background: #FFF997;
        border: 1px solid #333;
        color: #333;
    }


    &--yellow-dark{
        background: #FFCA61;
        border: 1px solid #333;
        color: #333;
    }

    &--pink{
        background: #FFD0CC;
        border: 1px solid #333;
        color: #333;
    }

    &--blue{
        background: #008FFF;
        border: 1px solid #333;
        color: #333;
    }

    &--grey{
        background: #aaa;
        border: 1px solid #333;
        color: #333;
    }
}

.rijndael-cell{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    width: 4rem;
    height: 3rem;

    @media screen and (max-width: 800px) {
        width: 2.4rem;
        height: 1.8rem;
    }

    &--big{
        width: 5rem;
        height: 3rem;

        @media screen and (max-width: 800px) {
            width: 2.4rem;
            height: 1.8rem;
        }
    
    }

    &--tiny{
        width: 1.6rem;
        height: 1.3rem;
        font-size: .5rem;

        @media screen and (max-width: 800px) {
            width: 1.2rem;
            height: .8rem;
        }
    }

   
}

