@use "../../styles/abstracts/" as *;

.rijndael-page-5{

    display: grid;
    height: 100%;

    
    grid-template-columns: 3fr 2fr 2fr;
    grid-template-rows: 2fr 4fr 3fr;
    width: 80%;
    margin: 0 auto;

    grid-template-areas: 
        "anim1 grid1 title1"
        "anim2 grid2 title2"
        "anim3 grid3 title3"
    ;

    
    @media (max-width: 500px){
        width: 100%;
        padding: 1rem;
        font-size: .8rem;
        grid-template-columns: 4fr 3fr;
        grid-template-rows: 2fr 4fr 4fr;
        grid-template-areas: 
        "anim1 title1"
        "anim2 title2"
        "anim3 title3"
    ;
    }


    &__counter-container{
        grid-area: anim3;

        position: relative;
     
        
        @media (max-width: 500px){
            grid-area: 3 / 3 / 3/ 3;
        }
    }

    &__counter{
        position: absolute;
        top: 0;
        left: -50px;

      

        @media (max-width: 500px){
            top: auto;
            left: auto;
            bottom: 0;
            right: 0
        }
    }

    &__counter-title{
        font-size: 1.4rem;
        text-align: center;
    }

    &__counter-num{
        color: #fff;
        padding: .5rem 2rem;
        background: #000;
    }
    
    &__path{
        grid-area: anim1 / 1 / anim3/ 2;
        position: relative;
        max-width: 200px;
        display: flex;
        justify-content: center;
        z-index: 1;

        @media (max-width: 500px){
            max-width: 100px;
        }

        svg{
            transform: translateX(50%);

            @media (max-width: 500px){
                transform: translateX(50%);
            }
        }

    }

    .rijndael-page-5__container-1{
        grid-area: grid1; 
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__labels{
        position: absolute;
        z-index: 6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        


        &--1{
            top: 10%;
            transform: translateY(-50%);
        }

        &--2{
         top: 40%;
         transform: (translateY(-50%));
        }

        &--3{
           top: 80%;
           transform: translateY(-50%);
        }
    }

    &__section-title{
        color: #aaa;
        font-size: 2rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;

        &--1{
            grid-area: title1;
        }

        &--2{
            grid-area: title2;
        }

        &--3{
            grid-area: title3;
        }

        @media (max-width: 800px) {
            font-size: 1rem;
        }
    }
}


.rijndael-add-key{
    padding: 1rem;
    background: #fff;
    border: 1px solid #888;
    &__title{
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
        color: #888;
    }
}