

.rijndael-page-2{
    width: 100%;
    height: 100%;

    display: grid;

    grid-template-rows: 1fr 3fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;

    @media (max-width: 800px){
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr 2fr 2rem;    
    }

    &__container{
        grid-area: 2 / 2 / 2 / 2;

  
    
        background: #666;
        border: 5px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    
        text-align: center;
        position: relative;
        box-sizing: border-box;

       
    }

}



.rijndael-page-2-arrow-container{
  
   
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    word-spacing: auto;
    align-items: center;


  
    &--top{
        grid-area: 1 / 2 / 1 / 2;


        display: flex;
        justify-content: flex-end;

     
        span{
            margin-bottom: 1rem;
        }
        
    }

    &--bottom{
        grid-area: 3 / 2 / 3 / 2;
  
 
        color: yellow;
        align-items: center;

        span{
            margin-top: 1rem;
        }
     
    }

    &--left{
        grid-area: 2/ 1 / 2 / 1;
    
        justify-content: center;
        align-items: flex-end;

        span{
            margin-right: 1rem;
            margin-bottom: .5rem;
        }
    }
}

.rijndael-page-2-arrow{
    max-width: 3rem;
    max-height: 6rem;


    &--horizontal{
        max-width: 6rem;
        max-height: 3rem;
    }
   
}